/* Class selector use "."
ID selector use "#"
CSS selector specificity: parent child child's child ... */

/* z-index: The z-index property specifies the stack order of an element.
An element with greater stack order is always in front of an element with a lower stack order. */

/* justify-content: The justify-content property aligns the flexible container's items when the items do not use all available space on the main-axis (horizontally). */

.score-display{
    text-align: center;
}
/* Set background to black */
body {
    background-color:#181A25;
    display: flex;
    justify-content: center;
}

/* Style the container which contains the game */
.container{
    margin-top: -5px;
}

/* Set the grid/game board background to black */
.grid{
    z-index: -2;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

/* Set each equare to 20px x 20 px */
/* Element whose class name is "grid", and also has a div child */
.grid div{
    width: 20px;
    height: 20px;
}

/* Animated start button. Creating the click effect. */
#start-button{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    height: 25px;
    width: 80px;
    background-color: red;
    font-family: 'IBM Plex Mono', monospace;
    color: #DDF9C1;
    text-align: center;
    margin-left: 240px;
    margin-top: 40px;
}

#start-button:hover {
    background-color:
    green
}

#start-button:active {
  background-color: green;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Style instruction container */
.instruction{
    width: 560px;
    height: 560px;
    margin-left: 30px;
}

/* Style instructions */
h3{
    font-family: 'IBM Plex Mono', monospace;
    color: #DDF9C1;
    text-align: left;
    font-size: 20px;
}

h4{
    font-family: 'IBM Plex Mono', monospace;
    color: #DDF9C1;
    text-align: left;
    font-size: 15px; 
}

/* Style all ghosts based on their name */
.blinky{
    background-image: url("images/blinky.png");
    z-index: +2;
}

.pinky{
    background-image: url("images/pinky.png");
    z-index: +2;
}

.inky{
    background-image: url("images/inky.png");
    z-index: +2;
}

.clyde{
    background-image: url("images/clyde.png");
    z-index: +2;
}

/* Style scared ghosts */
.scared-ghost{
    background-image: url("images/scared-ghost.png");
}

/* Style pac dots. I use "." as pac dots. Change the font size to make it look like pac dots. */
.pac-dot{
    font-size: 40px;
    color: white;
    margin: 0px;
    text-align: center;
    line-height: 0px;
}

/* Style wall */
.wall{
    background-color:  blue;
}

/* Style .power pellets */
.power-pellet{
    background-image: radial-gradient(white 50%, transparent 5%);
    z-index: -1;
}

/* Style pac-man */
/* The pacman pic I find is facing right. So when pac man move towards right we use the image directly */
.pac-man-right{
    background-image: url('images/pacman.png');  
    border-radius: 10px;
}

.pac-man-left{
    background-image: url('images/pacman.png');  
    border-radius: 10px;
    transform: rotate(180deg);
}

.pac-man-up{
    background-image: url('images/pacman.png');  
    border-radius: 10px;
    transform: rotate(-90deg);
}

.pac-man-down{
    background-image: url('images/pacman.png');  
    border-radius: 10px;
    transform: rotate(90deg);
}